.App {
  text-align: center;
  display: block;
  position: relative;
  background: #DEFFDF;
}

.container{
  width: 80%;
}
body {
  background: #DEFFDF;
}

.buttonlandingpage:hover{
  background-color: #6939DB;
}
.buttonlandingpage:hover *{
  color: white;
}
.menuitem:hover{
  color: #6939DB;
}

*{
min-width: unset !important
}