.App {
  text-align: center;
  display: block;
  position: relative;
  min-width: 1920px;
  background: #FFEEEE;
}

.container{
  width: 80%;
}
body {
  background: #FFEEEE;
}

.buttonlandingpage:hover{
  background-color: #b32024;
}
.buttonlandingpage:hover *{
  color: white;
}
.menuitem:hover{
  color: #b32024;
}